<a href="https://colab.research.google.com/github/Asif1310/3003/blob/main/Multi_armed_bandit_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing required libraries & modules

In [1]:
from scipy.stats import binom # for creating random variables with Bernoulli distribution
import numpy as np # for working with arrays 
import math # to evaluate square roots and logarithms in the formula
import random

In [2]:
#@title Creating random variables for each machine with certain success rates (code is hidden in this cell)
machine_1 = binom.rvs(n= 1, p = 0.22, size = 2000)
machine_2 = binom.rvs(n= 1, p = 0.37, size = 2000)
machine_3 = binom.rvs(n= 1, p = 0.29, size = 2000)
machine_4 = binom.rvs(n= 1, p = 0.51, size = 2000)
machine_5 = binom.rvs(n= 1, p = 0.68, size = 2000)

 Creating a numpy array named 'machines' which is essentially a list of five random variables created in previous step

In [3]:
machines = np.array([machine_1, machine_2, machine_3, machine_4, machine_5])

## Let us explore for few rounds and then exploit the best machine

Initializing few variables which will be later used in computations

In [4]:
machines_selected = [] # stores the machine number selected in each round
num_selected = [0,0,0,0,0] # stores the number of time each of the five machines have been selected
indiv_return = [0,0,0,0,0] # stores the rewards obtained from each of the five machines

# Begin of the exploration phase:

In [5]:
rounds = 10
for n in range(rounds):
  if n<5:
    d = n
  else:
    d = n%5
  machines_selected.append(d)
  p = num_selected[d] 
  indiv_return[d] += machines[d][p]
  num_selected[d] += 1

## Results after the end of exploration:

In [6]:
for i in range(5):
  print("Number of times machine number %d has been selected: %2d " %(i,num_selected[i]))

Number of times machine number 0 has been selected:  2
Number of times machine number 1 has been selected:  2
Number of times machine number 2 has been selected:  2
Number of times machine number 3 has been selected:  2
Number of times machine number 4 has been selected:  2

In [7]:
for i in range(5):
  print("Rewards obtained from machine number %d: %2d " %(i, indiv_return[i]))

Rewards obtained from machine number 0:  1
Rewards obtained from machine number 1:  1
Rewards obtained from machine number 2:  1
Rewards obtained from machine number 3:  2
Rewards obtained from machine number 4:  1

# Begin of the exploitation phase:

In [8]:
best_mach = indiv_return.index(max(indiv_return))
exploit_rounds = 2000-rounds
for n in range(exploit_rounds):
  machines_selected.append(best_mach)
  p = num_selected[best_mach]
  indiv_return[best_mach] += machines[best_mach][p]
  num_selected[best_mach] += 1

## Results after the end of exploitation

In [9]:
for i in range(5):
  print("Rewards obtained from machine number %d: %2d " %(i, indiv_return[i]))

Rewards obtained from machine number 0:  1
Rewards obtained from machine number 1:  1
Rewards obtained from machine number 2:  1
Rewards obtained from machine number 3: 993
Rewards obtained from machine number 4:  1

In [10]:
print("Total rewards obtained : %2d" %(sum(indiv_return)))

Total rewards obtained : 997

In [11]:

def explore_exploit(num):
  machines_selected = [] # stores the machine number selected in each round
  num_selected = [0,0,0,0,0] # stores the number of time each of the five machines have been selected
  indiv_return = [0,0,0,0,0] # stores the rewards obtained from each of the five machines
  rounds = num
  for n in range(rounds):
    if n<5:
      d = n
    else:
      d = n%5
    machines_selected.append(d)
    p = num_selected[d] 
    indiv_return[d] += machines[d][p]
    num_selected[d] += 1
  best_mach = indiv_return.index(max(indiv_return))
  print("Machine number %d is identified as the best machine" %(best_mach))
  exploit_rounds = 2000-rounds
  for n in range(exploit_rounds):
    machines_selected.append(best_mach)
    p = num_selected[best_mach]
    indiv_return[best_mach] += machines[best_mach][p]
    num_selected[best_mach] += 1
  print("Total rewards obtained for %d exploratory rounds : %2d" %(rounds,sum(indiv_return)))

In [12]:
list1 = [10,50,100,250,500,1000]
for i in list1:
  explore_exploit(i)
  print()

Machine number 3 is identified as the best machine
Total rewards obtained for 10 exploratory rounds : 997

Machine number 3 is identified as the best machine
Total rewards obtained for 50 exploratory rounds : 994

Machine number 3 is identified as the best machine
Total rewards obtained for 100 exploratory rounds : 991

Machine number 4 is identified as the best machine
Total rewards obtained for 250 exploratory rounds : 1304

Machine number 4 is identified as the best machine
Total rewards obtained for 500 exploratory rounds : 1238

Machine number 4 is identified as the best machine
Total rewards obtained for 1000 exploratory rounds : 1095

# Epsilon-greedy method:

Creating a random variable with binomial distribution and with certain probability of outputting '1', which will be leveraged for deciding between exploration and exploitation later.

In [13]:
rv = binom.rvs(n=1, p=0.7, size = 2000)

Initializing few variables which will be later used in computations

In [14]:
machines_selected = [] # stores the machine number selected in each round
num_selected = [0,0,0,0,0] # stores the number of time each of the five machines have been selected
indiv_return = [0,0,0,0,0] # stores the rewards obtained from each of the five machines

Implementation of epsilon-greedy technique, but setting aside certain initial rounds for pure exploration

In [15]:
for i in range(2000):
  if i<20: #initial exploration
    d = i%5
    machines_selected.append(d)
    p = num_selected[d]
    indiv_return[d] += machines[d][p]
    num_selected[d] += 1
  else:
    if rv[i] == 1: #based on the probability defined for rv, it will output the value as 1 or 0
      best_mach = indiv_return.index(max(indiv_return)) 
      machines_selected.append(best_mach)
      p = num_selected[best_mach]
      indiv_return[best_mach] += machines[best_mach][p]
      num_selected[best_mach] += 1
    else:
      new_list1 = [] #creating a new list of machine indices by excluding the index of best machine
      for g in range(5):
        if g != best_mach:
          new_list1.append(g)
      mach_index = random.choice(new_list1)
      machines_selected.append(mach_index)
      p = num_selected[mach_index]
      indiv_return[mach_index] += machines[mach_index][p]
      num_selected[mach_index] += 1

In [16]:
for i in range(5):
  print("Number of times machine number %d has been selected: %2d " %(i,num_selected[i]))

Number of times machine number 0 has been selected: 148
Number of times machine number 1 has been selected: 157
Number of times machine number 2 has been selected: 155
Number of times machine number 3 has been selected: 1390
Number of times machine number 4 has been selected: 150

In [17]:
for i in range(5):
  print("Rewards obtained from machine number %d: %2d " %(i, indiv_return[i]))

Rewards obtained from machine number 0: 38
Rewards obtained from machine number 1: 60
Rewards obtained from machine number 2: 44
Rewards obtained from machine number 3: 690
Rewards obtained from machine number 4: 94

In [18]:
print("Total rewards obtained : %2d" %(sum(indiv_return)))

Total rewards obtained : 926

#Upper Confidence Bound technique:

Initializing few variables which will be later used in computations

In [19]:
machines_selected = [] # stores the machine number selected in each round
num_selected = [0,0,0,0,0] # stores the number of time each of the five machines have been selected
indiv_return = [0,0,0,0,0] # stores the rewards obtained from each of the five machines

### UCB implementation:

In [20]:
for i in range(2000):
  if i<5: #initial exploration
    d = i%5
  else:
    max = 0
    for mach in range(len(machines)):
      average = indiv_return[mach]/num_selected[mach]
      delta = math.sqrt(1.5 * (math.log(i+1))/(num_selected[mach]+1))
      UCB = average + delta
      if UCB > max:
        max = UCB
        d = mach
  machines_selected.append(d)
  p = num_selected[d]
  indiv_return[d] += machines[d][p]
  num_selected[d] += 1

In [21]:
for i in range(5):
  print("Number of times machine number %d has been selected: %2d " %(i,num_selected[i]))

Number of times machine number 0 has been selected: 37
Number of times machine number 1 has been selected: 66
Number of times machine number 2 has been selected: 51
Number of times machine number 3 has been selected: 95
Number of times machine number 4 has been selected: 1751

In [22]:
for i in range(5):
  print("Rewards obtained from machine number %d: %2d " %(i, indiv_return[i]))

Rewards obtained from machine number 0:  8
Rewards obtained from machine number 1: 23
Rewards obtained from machine number 2: 15
Rewards obtained from machine number 3: 40
Rewards obtained from machine number 4: 1202

In [23]:
print("Total rewards obtained : %2d" %(sum(indiv_return)))

Total rewards obtained : 1288

# Thompson's sampling technique:

Initializing few variables which will be later used in computations

In [24]:
machines_selected = [] # stores the machine number selected in each round
num_selected = [0,0,0,0,0] # stores the number of time each of the five machines have been selected
return_1 = [0,0,0,0,0] # stores the number of '1' rewards obtained from each of the five machines
return_2 = [0,0,0,0,0] # stores the number of '0' rewards obtained from each of the five machines

### Thompson's sampling implementation

In [25]:
for i in range(2000):
  if i<5: #initial exploration
    d = i%5
  else:
    max = 0
    for mach in range(len(machines)):
      first = return_1[mach]
      second = return_2[mach]
      theta = random.betavariate(first+1, second+1)
      if theta>max:
        max = theta
        d = mach
  machines_selected.append(d)
  p = num_selected[d]
  reward = machines[d][p]
  if reward == 1:
    return_1[mach] += 1
  else:
    return_2[mach] += 1
  num_selected[d] += 1

In [26]:
for i in range(5):
  print("Number of times machine number %d has been selected: %2d " %(i,num_selected[i]))

Number of times machine number 0 has been selected: 483
Number of times machine number 1 has been selected: 497
Number of times machine number 2 has been selected: 475
Number of times machine number 3 has been selected: 510
Number of times machine number 4 has been selected: 35

In [27]:
for i in range(5):
  print("Rewards obtained from machine number %d: %2d " %(i, indiv_return[i]))

Rewards obtained from machine number 0:  8
Rewards obtained from machine number 1: 23
Rewards obtained from machine number 2: 15
Rewards obtained from machine number 3: 40
Rewards obtained from machine number 4: 1202

In [28]:
print("Total rewards obtained : %2d" %(sum(indiv_return)))

Total rewards obtained : 1288